@font-face {
  src: url("../../fonts/bebas_neue/BebasNeueThin.otf");
  font-family: "Bebas Neue", serif;
  font-weight: 300;
}
@font-face {
  src: url("../../fonts/bebas_neue/BebasNeueRegular.otf");
  font-family: "Bebas Neue", serif;
  font-weight: 500;
}
@font-face {
  src: url("../../fonts/bebas_neue/BebasNeueBold.otf");
  font-family: "Bebas Neue", serif;
  font-weight: 700;
}
body {
  background: #9789f9;
  font-family: "Bebas Neue", serif;
}
.ba-pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__col {
    margin: 0 10px;
    width: 370px;
    height: 600px;
    .ba-price {
      background: #f5f4f9;
      text-align: center;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 70px;
        background: #f5f4f9;
        top: 100%;
        left: 0;
        z-index: -1;
      }
      &__rate {
        margin: 0;
        font-size: 55px;
        font-family: "Bebas Neue", serif;
        font-weight: 300;
        padding-top: 30px;
        sub, sup {
          font-size: 50%;
        }
        sub {
          bottom: 0;
        }
      }
      &__position {
        text-transform: uppercase;
        margin: 25px 0 30px;
      }
      &__body {
        background: #fff;
        border-top-left-radius: 170px 130px;
        border-top-right-radius: 170px 130px;
        height: 390px;
        padding-top: 50px;
        div img {
          margin-top: -16px;
          margin-bottom: 25px;
        }
        ul {
          list-style: none;
          padding: 0 0 0 20px;
          max-width: 60%;
          margin: 0 auto;
          text-align: left;
          li {
            font-size: 18px;
            line-height:46px;
          }
        }
      }
    }
    .ba-button {
      background: #6fcffb;
      padding: 15px;
      border-radius: 50px;
      position: absolute;
      width: 200px;
      top: 600px;
      transform: translateX(-50%);
      text-transform: uppercase;
      text-decoration: none;
      color: darken(#fff, 5%);
      &:hover {
        color: #fff;
        background: darken(#6fcffb, 10%);
      }
    }
  }
}
.ba-pricing__col--center {
  height: 680px;
  .ba-price {
    &:after {
      height: 0;
    }
  }
  .ba-price {
    position: relative;
    .popular {
      position: absolute;
      top: 27px;
      right: -90px;
      z-index: 2;
      background: #3b4040;
      color: #fff;
      text-transform: uppercase;
      padding: 5px 10px;
      margin: 0;
      border-radius: 20px;
      display: none;
    }
    .triangle {
      position: absolute;
      width: 0;
      height: 0;
      left: 358px;
      top: 32px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #3b4040;
      display: none;
    }
    .img {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    &__body {
      height: 450px;
    }
  }
  .ba-button {
    top: 593px;
    background: #fd8d7b;
    &:hover {
      background: darken(#fd8d7b, 10%);
    }
  }
  p {
    padding: 30px 0;
  }
}
.img:hover~.triangle, .img:hover+.popular {
  display: block;
}
