.idea
qa-test-automation-cypress/.idea
web-beetroot-theme/.idea
web-sample-site/.idea
web-sample-site/.floo
web-sample-site/.flooignore
web-sample-site-2/.sass-cache
web-sample-site-3/.idea
web-sample-site-4/.idea
web-sample-site-4/.vscode
web-sample-site-4/node_modules
web-sample-site-grid-animate/.idea
web-sample-site-grid-animate/node_modules