$greyText: #85898f;
$capitalFontColor: #ae4b5d;
$contentFontColor: #5c646e;
$tableFontColor: #a5adb8;
$mainColor: #282d33;
$headerColor: #353640;
$cover: cover;
$pageContainer: 980px;
$inputSize: 30px;